------	Learning 25 Sep 2021 ------
------------------------------------

CODE path:
/mnt/DataHDD300GB/MyProjectList/RnD_projects/RND_Docker/dkGoSqlMicroservices/appMSFlask

Repo path:
/mnt/DataHDD300GB/MyProjectList/RnD_projects/RND_Docker/dkGoSqlMicroservices/dkgosqlpyRepos/appsms-flask



docker build -t dkgosql/my-python3-app:v1.0.2-REALEASE .

docker run -d -p 5000:5000 --name country-server  dkgosql/my-python3-app:v1.0.2-REALEASE

docker push dkgosql/my-python3-app:v1.0.2-REALEASE

docker pull dkgosql/my-python3-app:v1.0.2-REALEASE


-------- OLD ---------
docker run --name python-app -p 5000:5000 my-python3-app

docker tag my-python3-app:latest my-python3-app:v1.0.0-REALEASE

docker run my-python3-app:v1.0.0-REALEASE


docker run --publish 5000:5000 my-python3-app:v1.0.0-REALEASE

docker run -p 5000:5000 -it --name country-server my-python3-app:v1.0.0-REALEASE

docker build -t my-python3-app:v1.0.1-REALEASE .

docker run -d -p 5000:5000  --network host  --name country-server my-python3-app:v1.0.0-REALEASE

docker run -d -p 5000:5000  --network host  --name country-server my-python3-app:v1.0.1-REALEASE

docker run -d -p 5000:5000  --network host  --name country-server dkgosql/my-python3-app:v1.0.2-REALEASE

docker system prune -a




https://pythonspeed.com/articles/docker-connection-refused/


